<html><body><h1>Backend Gestion de Fixture y Partidos</h1>

    <p>Servicio de backend que mantiene la información de los partidos y resultados durante el mundial </p>
    <h2> APIS expuestas </h2>
    
    <h3> Partidos</h3>
    <p> Permite ver la informacion de los partidos del mundial </p> 
    <a href="/partidos"> API de Partidos </a>  
    
    <h3> Proximos Partidos</h3>
    <p> Permite ver la informacion de los proximos 3 partidos del mundial </p> 
    <a href="/partidos/proximos"> API de Proximos Partidos </a>
    
    <h3> Resultados de Grupos </h3>
    <p> Provee el leaderboard con los puntos de los equipos en cada grupo de la primera fase del Mundial. </p> 
    <a href="/grupos/resultados"> API de Resultados </a> 
    
    
    <h3> Lista de Usuarios </h3>
    <p> Provee la lista de usuarios que participan. </p> 
    <a href="/usuarios"> API de Usuarios </a> 
    
    
    <h3> Registracion de Usuario  </h3>
    <p> Inicia el workflow de registracion y onboarding del usuario. </p> 
     
    
    
    </body></html>